@mixin border($radius, $size-top, $size-right, $size-bottom, $size-left) {
    border-top: #40CD9F solid $size-top;
    border-right: #40CD9F solid $size-right;
    border-bottom: #40CD9F solid $size-bottom;
    border-left: #40CD9F solid $size-left;
    border-radius: $radius;
}

.send-idea {
    @include border(30px ,2px, 2px, 2px, 2px);
    cursor:pointer;
    width: 42vw;
    position: relative;
    left: 50%;
    margin-left: -21vw;
    margin-top: 20px;
    height: 9vh;
    font-size: 14.7pt;
}

.send-text {
    padding: 50px;
    padding-top: 17px;
    padding-bottom: 0px;
    font-weight: 160;
    display: inline-block;
}

.send-image {
    display: inline-block;
    @include border(30px, 2px, 0px, 2px, 2px);
    width: 8vw;
    position: relative;
    margin-top: -2px;
    height: 100%;
    float: right;
}

.image-airplane {
    width: 3vw;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -1.5vw;
    margin-top: -3.6vh;
}